<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="container-fluid " >
  
  <div class="row" >
   
    <div class="col-sm-2">
      
      
      <div class="d-grid gap-1 mt-2">
        <div class="p-2  bg-info border"><a class="navbar-brand text-light" [routerLink]="['/']"><strong> {{title}} </strong></a></div>
        <div class="p-2 bg-light border"><a class="nav-link" [routerLink]="['home']">Home</a></div>
        <div class="p-2 bg-light border"><a class="nav-link" [routerLink]="['product']">Product</a></div>
        <div class="p-2 bg-light border"><a class="nav-link" [routerLink]="['contact']">Contact us</a></div>
        <div class="p-2 bg-light border"><a class="nav-link" [routerLink]="['employee']">Employee</a></div>
        <div class="p-2 bg-light border"><a class="nav-link" [routerLink]="['mygrid']">Sync Fusion Grid</a></div>
        <div class="p-2 bg-light border"><a class="nav-link" [routerLink]="['outwire']">Wires</a></div>
        <div class="p-2 bg-light border" *ngIf="currentUser==null"><a class="nav-link" [routerLink]="['login']">Login</a></div>

       
        <div class="p-2 bg-light border" *ngIf="currentUser"><a class="nav-link" (click)="logout()">Logout</a></div>
      </div>
    </div>
       
    <!--<div class="col-sm"><router-outlet></router-outlet></div>-->
    <!-- main content container -->  
      
          <div class="col-sm mt-2">
              <router-outlet></router-outlet>
          </div>   
          
  
 
</div> 
</div> 
   
 
   