<div class="container">
<div class="row">
    
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">this demo is powered by....</span>
      </nav>
</div>
<p></p>
<div class="row">
    
    <div class="col-sm-4">
        
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Angular</span>
          </nav>
          <p>CLI</p>
          <p>routes</p>
          <p>modules</p>
          <p>components</p>
          <p>services</p>
          <p>forms, form validation</p>
          <p>typescript</p>
          
        
    </div>
    <div class="col-sm-4">
        
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">asp.net core webapi</span>
          </nav>
         <p>routes</p>
         <p>api</p>
         <p>db context</p>
         <p>entity framework</p>

        
    </div>
    <div class="col-sm-4">
        
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">bootstrap</span>
          </nav>
          <p>nav </p>
          <p>forms</p>
        
    </div>
    <div class="col-sm-4">
        
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">MS SQL Server</span>
          </nav>
          <p>persistence</p>
          
        
    </div>

</div>
</div>