<div class="container">
<div class="row">
    
    <nav class="navbar navbar-light bg-success ">
        <span class="navbar-brand mb-0 h1 text-light fst-italic ">this demo is powered by....</span>
      </nav>
</div>
<p></p>
<div class="row">
    
    <div class="col-sm-4">
        
        <div class="d-grid gap-1">
            <div> <nav class="navbar navbar-light bg-info ">
                 <span class="navbar-brand p-2 ">angular</span>
             </nav>
         </div>
             <div class="p-2 bg-light border">CLI</div>
             <div class="p-2 bg-light border">routes</div>
             <div class="p-2 bg-light border">modules</div>
             <div class="p-2 bg-light border">services</div>
             <div class="p-2 bg-light border">forms, form validations</div>
             <div class="p-2 bg-light border">typescript-observalbles</div>
             <div class="p-2 bg-light border">guards</div>
             <div class="p-2 bg-light border">interceptors</div>
             <div class="p-2 bg-light border">bundle files</div>
             <div class="p-2 bg-light border">proxy settings- for development</div>
            
           </div>
          
        
    </div>
    <div class="col-sm-4">
        
        <div class="d-grid gap-1">
            <div> <nav class="navbar navbar-light bg-info ">
                 <span class="navbar-brand p-2 ">asp.net core api</span>
             </nav>
         </div>
             <div class="p-2 bg-light border">routes</div>
             <div class="p-2 bg-light border">entity framework</div>
             <div class="p-2 bg-light border">dbcontext</div>
             <div class="p-2 bg-light border">api controllers</div>
         
            
           </div>
               
    </div>
    <div class="col-sm-4">
        <div class="d-grid gap-1">
            <div> <nav class="navbar navbar-light bg-info ">
                 <span class="navbar-brand p-2 ">bootstrap</span>
             </nav>
         </div>
             <div class="p-2 bg-light border">forms</div>
             <div class="p-2 bg-light border">nav bar, nav link</div>
             <div class="p-2 bg-light border">helpers</div>
             <div class="p-2 bg-light border">utilities - margins,padding,borders</div>
         
            
           </div>
        
      
        
    </div>
  

</div>
<div class="row mt-4">
    <div class="col-sm-4">
        <div class="d-grid gap-1">
            <div> <nav class="navbar navbar-light bg-info ">
                 <span class="navbar-brand p-2 ">ms sql server</span>
             </nav>
         </div>
             <div class="p-2 bg-light border">persistence</div>
                  
            
           </div>
        
       
          
        
    </div>
</div>

</div>